   {% macro chon_loaitaisan(v) %}
    <div class="row">
        <div class="col-lg-6">
            <select class="custom-select input-area" name="loai_tai_san" id="loai_taisan">
                <option value="Bất động sản"   {{ 'selected' if v=='Bất động sản' else '' }} >Bất động sản</option>
                <option value="Động sản"       {{ 'selected' if v=='Động sản' else '' }}    >Động sản</option>
                <option value="Doanh nghiệp"   {{ 'selected' if v=='Doanh nghiệp' else '' }}>Doanh nghiệp</option>
            </select>
        </div>
    </div>
{% endmacro %}
