<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    {% from '_common.html' import chon_loaitaisan with context %}
    {{ chon_loaitaisan(v) }}
    {{ chon_loaitaisan(hs.loai_tai_san) }}
</div>

</body>
</html>